<html>
	{% extends "parentdisplay.html" %}
		{% block content %}
			<div class="container">
				<div class="col-lg-8">
    				<h1>Reaction: <br><span style="text-transform:capitalize;">{{id}}</span></h1>
    				<hr>
					<p class="lead">Reaction name: <br>{{name}}</p>
					<p class="lead">Model: <br><a href="/models/{{model}}">{{ model }}</a></p>
					
					<p class="lead">Reaction String:</p>
					{{reaction_string}}
					<br>
					<br>
					<br>
					<div class="list-group">
  						<a href="#metabolitelist" class="list-group-item active">
    						<span class="lead">Metabolites:</span>
  						</a>
  						{% for metabolite in metabolites %}
  						<a href="/models/{{model}}/metabolites/{{metabolite}}" class="list-group-item">{{metabolite}}</a>
  						{% endfor %}
					</div>
					<p class="lead">Gene Reaction Rule: <br>{{gene_reaction_rule}}</p>
					<p class="lead">Genes: {% for gene in genes %} <a href=/models/{{model}}/genes/{{gene}}>{{gene}} </a>{% endfor %}</p>
					<hr>
					<h2> Map </h2>
					<img src="http://placehold.it/900x300" class="img-responsive">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac vestibulum ante. In ut pharetra nibh. Quisque sollicitudin felis vel enim viverra fermentum. Nulla sit amet odio gravida, egestas enim eget, lobortis mi. Aliquam diam augue, pellentesque eget orci non, aliquet cursus sapien. Mauris feugiat dignissim mauris, et consequat magna ultricies ac. Cras ut lectus magna. Integer at felis ultrices, ultrices dolor et, dictum lectus. </p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
				<p></p>
				<p></p>
				</div>
				<div class="col-lg-4">
					<div class="well">
                    	<h4>BiGG Search</h4>
                    	<div class="input-group">
      						<span class="input-group-btn">
        						<button class="btn btn-default" type="button">Go!</button>
      						</span>
      						<input type="text" class="form-control">
    					</div>
                    </div>
                     <div class="well">
                    	<h4>Map</h4>
                    	<button class="btn btn-default" type="button">View Map</button>
                	</div>
                    <div class="well">
                    	<h4>Citations</h4>
                    	<ul class="list-unstyled">
                                <li><a href="#dinosaurs">Dinosaurs</a>
                                </li>
                                <li><a href="#spaceships">Spaceships</a>
                                </li>
                                <li><a href="#fried-foods">Fried Foods</a>
                                </li>
                                <li><a href="#wild-animals">Wild Animals</a>
                                </li>
                        </ul>
                	</div>
                	   
                    <!-- /input-group -->
                </div>
				
				<footer>
            		<div class="row">
                		<div class="col-lg-12" style="margin:80px 0;">
                			<hr>
                    		<p>Copyright &copy; 2007 The Regents of the University of California.</p>
                		</div>
            		</div>
        		</footer>
					
			</div>
		{% endblock %}	
</html>