<div class="well database-well">
  <h4>External database links</h4>
  <ul class="list-unstyled">
    {% for source, values in database_links.iteritems() %}
      <li>{{ source }}:
        {% for value in values %}
          <a href="{{ value['link'] }}" target="_blank">{{ value['id'] }}</a>{% if loop.revindex0 != 0 %},{% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
  {% if database_links | length > 0 %}
  <p style="font-size: 17px; margin: 20px 0 0 0">
    Provided by <a href="http://metanetx.org">MetaNetX</a>
    (<a href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>)
  </p>
  {% endif %}
</div>
