<hr class="section-break"/>
<h2>
	Escher Map
	{% with question_title='Escher map'%}
		{% with question_text='Escher is a tool for building pathway map visualizations. You can drag this canvas to navigate around the pathway map and use the +/− buttons to zoom in and out. For more information about Escher, there is a link to the Escher homepage below the map.'%}
			{% include 'question_mark.html' %}
		{% endwith %}
	{% endwith %}
</h2>
<div id="map" class="escher-map"></div>  
<a class="btn btn-default btn-md" href="https://escher.github.io/builder.html?map_name={{escher_maps[0]['map_name']}}" target="_blank">
  Open map in a new window
</a>
<a class="btn btn-default btn-md" href="https://escher.github.io/" target="_blank">
  Escher homepage
</a>
