<script src="//unpkg.com/escher@1.7.2/dist/escher.min.js"></script>
<script>

 // Set up map and styles
 var has_data = '{{escher_script_type}}' == 'reaction' || '{{escher_script_type}}' == 'metabolite',
     {{escher_script_type}}_data,
     zoom_element_type,
     map_sel = escher.libs.d3_select('#map');

 function add_click_listeners () {
   map_sel.selectAll('.node,.reaction,.reaction-label,.node-label').style('cursor', 'pointer')
   map_sel.selectAll('.node').on('click', function (d) {
     console.log('clicked ', d)
     if (d.bigg_id)
       window.location.href = '/models/{{model_bigg_id}}/metabolites/' + d.bigg_id;
   })
   map_sel.selectAll('.reaction').on('click', function (d) {
     console.log('clicked ', d)
     if (d.bigg_id) {
       // Strip _copy1, etc
       url = '/models/{{model_bigg_id}}/reactions/' + d.bigg_id.replace(/_copy[0-9]+$/, '')
       window.location.href = url
     }
   })
 }

 escher.libs.d3_json('/escher_map_json/{{escher_maps[0]['map_name']}}', function(e, data) {
   if (e) console.warn(e);
   var options = {
     menu: 'zoom',
     scroll_behavior: 'none',
     enable_editing: false,
     first_load_callback: add_click_listeners,
     enable_keys: false,
   };
   if (has_data) {
     if ('{{escher_script_type}}' == 'reaction') {
       options['{{escher_script_type}}_data'] = {'{{bigg_id}}': 1};
       options['zoom_to_element'] = {type: 'reaction', id: '{{escher_maps[0]['element_id']}}'}
     } else if ('{{escher_script_type}}' == 'metabolite') {
       options['{{escher_script_type}}_data'] = {'{{bigg_id}}_{{compartment_bigg_id}}': 1};
       options['zoom_to_element'] = {type: 'node', id: '{{escher_maps[0]['element_id']}}'}
     }
     options['{{escher_script_type}}_styles'] = ['color'];
   }
   var b = escher.Builder(data, null, null, map_sel, options);
   if (has_data) {
     window.setTimeout(function() {
       /* go_to(); */
       map_sel.selectAll('.simple-button').each(function() {
         var t = escher.libs.d3_select(this);
         if (t.attr('title').indexOf('canvas')!=-1) {
           t.on('click', null);
           t.on('click', function() {
             if ('{{escher_script_type}}' == 'reaction') {
               b.map.zoom_to_reaction('{{escher_maps[0]['element_id']}}');
             } else {
               b.map.zoom_to_node('{{escher_maps[0]['element_id']}}');
             }
           });
         }
       });
     }, 1000);
   }
 });
</script>
