{% extends "parent_display.html" %}
{% block title %}BiGG Genomes{% endblock %}
{% block description %}The list of genomes in BiGG Models.{% endblock %}
{% block content %}
  <script src="/static/lib/tablesorter/jquery.tablesorter.min.js"></script>
  <script src="/static/js/tablesorter_normal.js"></script>
  <link rel="stylesheet" href="/static/lib/tablesorter/theme.bigg.css">
  <h1>Genomes</h1>
  <table class="tablesorter">
    <thead>
      <tr>
        <th>Accession</th>
        <th>Organism</th>
      </tr>
    </thead>
    <tbody>
      {% for genome in genomes %}
        <tr class ='rowlink'>
          <td><a href="/genomes/{{genome['genome_ref_string']}}">{{genome['name']}}</a></td>
          <td>{{genome['organism']}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
