{% extends "parent_display.html" %}
{% block title %}BiGG Genome {{name}}{% endblock %}
{% block description %}Genome {{name}} of {{organism}} in BiGG Models.{% endblock %}
{% block content %}

  <h1>
    <span class="light">Genome: </span>{{name}}
  </h1>

  <hr/>

  <h4>Organism: </h4>
  <p>{{organism}}</p>

  <h4>
    Models with this genome:
    {% with question_title='Models with this genome'%}
      {% with question_text='A list of models that are mapped to this genome. Genes in the models are mapped to individual chromosomes.'%}
        {% include 'question_mark.html' %}
      {% endwith %}
    {% endwith %}
  </h4>
  <div class="panel panel-default">
    <div class="table table-hover">
      <div class="table-header">
        <div class="table-row">
          <div class="table-cell" style="width: 100%">BiGG ID</div>
        </div>
      </div>
      <div class="table-body">
        {% for model in models %}
        <a  href="/models/{{model}}">
          <div class="table-row">
            <div class="table-cell style="width: 100%">
              {{model}}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <h4>Chromosomes:</h4>
  <div class="panel panel-default">
    <div class="table table-hover">
      <div class="table-header">
        <div class="table-row">
          <div class="table-cell" style="width: 100%">NCBI ID</div>
        </div>
      </div>
      <div class="table-body">
        {% for chromosome in chromosomes %}
        <a href="http://www.ncbi.nlm.nih.gov/nuccore/{{chromosome}}" target="_blank">
          <div class="table-row">
            <div id="{{chromosome}}" class="table-cell" style="width: 100%">
              {{chromosome}}
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'comments.html' %}

{% endblock %}
