{% extends "parent_display.html" %}
{% block content %}
  <!-- TableSorter -->
  <script src="/static/lib/tablesorter/jquery.tablesorter.min.js"></script>
  <link rel="stylesheet" href="/static/lib/tablesorter/theme.bigg.css">
  {% if no_pager == true %} <!-- default is no_pager undefined, so use the pager -->
    <script src="/static/js/tablesorter_normal.js"></script>
  {% else %}
    <script>
     /* pass in the hide_organism variable from Jinja */
     var HIDE_ORGANISM = {% if hide_organism %}true{% else %}false{% endif %},
         TABLESORTER_SIZE = {{tablesorter_size if tablesorter_size else 108}};
    </script>
    <script src="/static/lib/tablesorter/jquery.tablesorter.pager.js"></script>
    <link rel="stylesheet" href="/static/lib/tablesorter/jquery.tablesorter.pager.css">
    <script src="/static/js/tablesorter_pager.js"></script>
  {% endif %}

  <h1 class="centered">
    Search Results
    {% with question_title='Search Results'%}
      {% with question_text='The results can be sorted by clicking the headings at the top of each table.'%}
        {% include 'question_mark.html' %}
      {% endwith %}
    {% endwith %}
  </h1>

  {% if not page_name or page_name not in [
  'universal_reaction_list',
  'universal_metabolite_list',
  'metabolite_list',
  'reaction_list',
  'gene_list',
  'advanced_search_results',
  'advanced_search_external_id_results',
  ] %}
  <label class="search-option-input row">
    <input type="checkbox" id="multistrain-checkbox" checked="checked" />
    Exclude multistrain models from search
  </label>
  <script>
   // Update URL when this is clicked
   const el = document.getElementById('multistrain-checkbox');
   const url = new URL(document.location);
   const multistrain = url.searchParams.get('multistrain');
   el.checked = multistrain === 'off';
   el.onclick = function () {
     if (multistrain) {
       url.searchParams.delete('multistrain');
     } else {
       url.searchParams.set('multistrain', 'off');
     }
     window.location.href = url.toString();
   };
  </script>
  {% endif %}

  <!-- header -->
  <div>
    {% if no_pager == true %}
      <!-- no pager -->
      {% if (not results['models'] and not results['reactions'] and
          not results['metabolites'] and not results['genes']) %}
        <h3 class="centered section-label">No results</h3>
      {% endif %}

      {% for type in ['models', 'reactions', 'metabolites', 'genes'] %}
        {% if results[type] %}
          <h2 class="section-label">{{type|capitalize()}}</h2>

          <table class="{{type}}-tablesorter tablesorter">
            {% if type == 'models' %}
              <thead>
                <tr>
                  <th>BiGG ID</th>
                  {% if hide_organism != true %}
                    <th>Organism</th>
                  {% endif %}
                  <th>Metabolites</th>
                  <th>Reactions</th>
                  <th>Genes</th>
                </tr>
              </thead>
              <tbody>
                {% for values in results[type] %}
                  <tr class ='rowlink'>
                    <td><a href="/models/{{values['bigg_id']}}">{{values['bigg_id']}}</a></td>
                    {% if hide_organism != true %}
                      <td>{% if values['organism'] is none %}{% else %}{{values['organism']}}{% endif %}</td>
                    {% endif %}
                    <td><a href="/models/{{values['bigg_id']}}/metabolites">{{values['metabolite_count']}}</a></td>
                    <td><a href="/models/{{values['bigg_id']}}/reactions">{{values['reaction_count']}}</a></td>
                    <td><a href="/models/{{values['bigg_id']}}/genes">{{values['gene_count']}}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            {% else %}
              <thead>
                <tr>
                  <th>BiGG ID</th> <!-- thead text will be updated from the JSON; make sure the number of columns matches the JSON data -->
                  <th>Descriptive Name </th>
                  <th>Model</th>
                  {% if hide_organism != true %}
                    <th>Organism</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for values in results[type] %}
                  <tr class ='rowlink'>
                    <td>
                      {% if type == 'metabolites' and 'compartment_bigg_id' not in values %}
                        <a href="/models/universal/{{type}}/{{values['bigg_id']}}">{{values['bigg_id']}}</a>
                      {% elif type == 'metabolites' %}
                        <a href="/models/{{values['model_bigg_id']}}/{{type}}/{{values['bigg_id']}}_{{values['compartment_bigg_id']}}">
                          {{values['bigg_id']}}_{{values['compartment_bigg_id']}}
                        </a>
                      {% else %}
                        <a href="/models/{{values['model_bigg_id']}}/{{type}}/{{values['bigg_id']}}">{{values['bigg_id']}}</a>
                      {% endif %}
                    </td>
                    <td>{% if values['name'] is not none %}{{values['name']}}{% endif %}</td>
                    <td>
                      {% if values['model_bigg_id'] == 'universal' %}
                        Universal
                      {% else %}
                        {{values['model_bigg_id']}}
                      {% endif %}
                    </td>
                    {% if hide_organism != true %}
                      <td>
                        {% if values['model_bigg_id'] == 'universal' or values['organism'] is none %}
                        {% else %}
                          {{values['organism']}}
                        {% endif %}
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %} <!-- rows -->
              </tbody>
            {% endif %} <!-- model type -->
          </table>
        {% endif %} <!-- has type -->
      {% endfor %} <!-- type -->

    {% else %}
      <!-- pager -->

      {% for type in ['models', 'reactions', 'metabolites', 'genes'] %}

        {% if type in results %}
          <h2 class="section-label">{{type|capitalize()}}</h2>

          <table class="{{type}}-tablesorter tablesorter">
            {% if type == 'models' %}
              <thead>
                <tr>
                  <td class="pager sorter-false" colspan="42">
                    <img src="/static/lib/tablesorter/addons/pager/icons/first.png" class="first"/>
                    <img src="/static/lib/tablesorter/addons/pager/icons/prev.png" class="prev"/>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <img src="/static/lib/tablesorter/addons/pager/icons/next.png" class="next"/>
                    <img src="/static/lib/tablesorter/addons/pager/icons/last.png" class="last"/>
                  </td>
                </tr>

                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  {% if hide_organism != true %}
                    <th>5</th>
                  {% endif %}
                </tr>
              </thead>
            {% else %}
              <thead>
                <tr>
                  <td class="pager sorter-false" colspan="42">
                    <img src="/static/lib/tablesorter/addons/pager/icons/first.png" class="first"/>
                    <img src="/static/lib/tablesorter/addons/pager/icons/prev.png" class="prev"/>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <img src="/static/lib/tablesorter/addons/pager/icons/next.png" class="next"/>
                    <img src="/static/lib/tablesorter/addons/pager/icons/last.png" class="last"/>
                  </td>
                </tr>

                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  {% if hide_organism != true %}
                    <th>4</th>
                  {% endif %}
                </tr>
              </thead>
            {% endif %}  <!-- model type -->
            <tbody>
            </tbody>
          </table>
        {% endif %} <!-- has type -->
      {% endfor %} <!-- type -->
    {% endif %} <!-- pager -->

  </div>

{% endblock %}
