{% extends "parent_display.html" %}
{% block title %}BiGG Model {{model_bigg_id}}{% endblock %}
{% block description %}The BiGG Model {{model_bigg_id}} of {{organism}}.{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-lg-8">
      <h1><span class="light">Model: </span>{{model_bigg_id}}</h1>
      <hr>
      {% if organism is not none %}
        <h4>Organism: </h4>
        <p>{{organism}}</p>
      {% endif %}

      <h4>Genome:</h4>
      <p>
        {% if genome_name is none %}
          Model is not mapped to a genome annotation.
        {% else %}
          <a href="/genomes/{{genome_ref_string}}">{{genome_name}}</a>
        {% endif %}
      </p>

      <h4>Model metrics: </h4>
      <div class="panel panel-default">
        <div class="table table-hover">
          <div class="table-header">
            <div class="table-row">
              <div class="table-cell" style="width: 50%">Component</div>
              <div class="table-cell" style="width: 50%">Count</div>
            </div>
          </div>
          <div class="table-body">
            <a href="/models/{{model_bigg_id}}/metabolites">
              <div class="table-row">
                <div class="table-cell" style="width: 50%">Metabolites</div>
                <div class="table-cell" style="width: 50%">{{metabolite_count}}</div>
              </div>
            </a>
            <a href="/models/{{model_bigg_id}}/reactions">
              <div class="table-row">
                <div class="table-cell" style="width: 50%">Reactions</div>
                <div class="table-cell" style="width: 50%">{{reaction_count}}</div>
              </div>
            </a>
            <a href="/models/{{model_bigg_id}}/genes">
              <div class="table-row">
                <div class="table-cell" style="width: 50%">Genes</div>
                <div class="table-cell" style="width: 50%">{{gene_count}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <h4 style="margin-top: 35px">Download COBRA model from the BiGG Database:</h4>
      <div class="downloads">
        {% include 'sbml_link.html' %}
        <br/>
        {% include 'json_link.html' %}
        <br/>
        {% include 'mat_link.html' %}
        <br/>

        <div class="last-update">
          Downloads last updated {{last_updated}} &nbsp;&nbsp; | &nbsp;&nbsp;
          <a href="/license#license">BiGG License</a>
        </div>
      </div>

      {% if model_bigg_id in ['iCN718', 'iYL1228', 'STM_v1_0'] %}
      <h4 style="margin-top: 35px">Download multistrain models for {{model_bigg_id}}:</h4>
      <div class="downloads">
        <p>[description here]</p>
        <a href="/static/multistrain/{{model_bigg_id}}_multistrain.zip"
          data-toggle="tooltip"
          data-trigger="hover"
          data-title="{{multistrain_size}}"
        >
          {{model_bigg_id}}_multistrain.zip
        </a>
      </div>
      {% endif %}

      <br/>

      {% if reference_type == 'pmid' %}
        Publication PMID:&nbsp;
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{reference_id}}" target="_blank">
          {{reference_id}}
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
      {% elif reference_type == 'doi' %}
        Publication DOI:&nbsp;
        <a href="http://dx.doi.org/{{reference_id}}" target="_blank">
          {{reference_id}}
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
      {% endif %}

      {% if escher_maps|count > 0 %}
        {% include 'escher_div.html' %}

        <h4 style="margin-top: 35px">Download Escher maps as JSON</h4>
        <ul>
          {% for map_name in escher_maps|map(attribute='map_name') %}
          <li><a href="/escher_map_json/{{map_name}}" download="{{map_name}}.json">{{map_name}}.json</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      {% include 'comments.html' %}

    </div>

  </div>

  {% if escher_maps|count > 0 %}
    {% set escher_script_type = 'model' %}
    {% include 'escher_script.html' %}
  {% endif %}
{% endblock %}
