{% extends "parent_display.html" %}
{% block title %}BiGG Reaction: {{bigg_id}} in {{model_bigg_id}}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h1><span class="light">Reaction: </span>{{bigg_id}}</h1>
      {% include "pseudoreaction_question.html" %}

      {% if count > 1 %}
        <h3>
          Reaction appears {{count}} times in {{model_bigg_id}}
          {% with question_title='Reaction appears multiple times'%}
            {% with question_text='This universal reaction appears multiple times in the model. However, the copies of the reaction have different gene reaction rules or reaction bounds, so in the exported models they will be labeled as copies (e.g. ACALD_copy1 and ACALD_copy2).'%}
              {% include 'question_mark.html' %}
            {% endwith %}
          {% endwith %}
        </h3>
      {% endif %}

      <hr/>

      <h4>Descriptive name: </h4>
      <p>{% if name is not none %}{{name}}{% endif %}</p>

      <h4>Model: </h4>
      <p><a href="/models/{{model_bigg_id}}">{{model_bigg_id}}</a></p>

      <h4>Reaction:</h4>
      <p>{{results[0]['reaction_string']}}</p>

      <h4>Metabolites:</h4>
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Stoichiometry</th>
              <th>BiGG ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for metabolite in metabolites %}
              <tr class="clickable-row" href="/models/{{model_bigg_id}}/metabolites/{{metabolite['bigg_id']}}_{{metabolite['compartment_bigg_id']}}">
                <td align="right" width="50px">{{metabolite['stoichiometry']}}</td>
                <td>
                  {{metabolite['bigg_id']}}_{{metabolite['compartment_bigg_id']}}
                </td>
                <td>{{metabolite['name']}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% for result in results %}
        <hr/>
        {% if count > 1 %}
          <h3>{{result['exported_reaction_id']}}</h3>
        {% endif %}

        <h4>Default bounds:</h4>
        <p>({{result['lower_bound']}}, {{result['upper_bound']}})</p>

        <h4>Subsystem: </h4>
        <p>{% if result['subsystem'] is not none %}{{result['subsystem']}}{% endif %}</p>

        <h4>Gene Reaction Rule: </h4>
        <p>{{result['gene_reaction_rule']}}</p>

        <h4>Genes:</h4>
        <p>
          {% for gene in result['genes'] %}
            <a href="/models/{{model_bigg_id}}/genes/{{gene['bigg_id']}}">{{gene['bigg_id']}}</a>
            {% if gene['name'] is not none %}({{gene['name']}}){% endif %}<br>
          {% endfor %}
        </p>

        {% if escher_maps|count > 0 %}
          {% include 'escher_div.html' %}
        {% endif %}

      {% endfor %}

      {% include 'comments.html' %}

    </div>

    <!-- Side bar -->
    <div class="col-lg-4">
      <div class="well">
        <h4>
          Universal reaction
          {% with question_title='Universal reaction'%}
            {% with question_text='BiGG Models has a list of universal reactions. Visit the universal reaction page to see all the models that contain this reaction.'%}
              {% include 'question_mark.html' %}
            {% endwith %}
          {% endwith %}
        </h4>
        <ul class="list-unstyled">
          <li>
            <a href="/universal/reactions/{{bigg_id}}">{{bigg_id}}</a>
          </li>
        </ul>
      </div>

      {% include 'old_identifiers.html' %}
      {% include 'database_links.html' %}

      <div class="well">
        <h4>{{bigg_id}} in other models</h4>
        <ul class="list-unstyled">
          {% for model in other_models_with_reaction %}
            <li>
              <a href="/models/{{model['bigg_id']}}/reactions/{{bigg_id}}">
                {{model['bigg_id']}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

  {% if escher_maps|count > 0 %}
    {% set escher_script_type = 'reaction' %}
    {% include 'escher_script.html' %}
  {% endif %}
{% endblock %}
