{% extends "parent_display.html" %}
{% block title %}BiGG Metabolite {{bigg_id}}{% endblock %}
{% block description %}Universal BiGG metabolite {{bigg_id}}. {{name}}.{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-lg-8">
      <h1>
        <span class="light">Universal metabolite: </span>
        <span>{{bigg_id}}</span>
      </h1>

      <hr/>

      <h4>Descriptive name:</h4>
      <p>{% if name is not none %}{{name}}{% endif %}</p>

      <h4>Formulae in BiGG models: </h4>
      <p>{{ formulae | join(',') }}</p>

      <h4>Charges in BiGG models: </h4>
      <p>{{ charges | join(',') }}</p>

      <h4><i>{{bigg_id}}</i> in BiGG models:</h4>
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Organism</th>
              <th>Model</th>
              <th>Compartmentalized BiGG ID</th>
            </tr>
          </thead>
          <tbody>
            {% for c in compartments_in_models %}
              <tr class="clickable-row" href="/models/{{c['model_bigg_id']}}/metabolites/{{bigg_id}}_{{c['bigg_id']}}">
                <td>{% if c['organism'] is none %}-{% else %}{{c['organism']}}{% endif %}</td>
                <td>{{c['model_bigg_id']}}</td>
                <td>{{bigg_id}}_{{c['bigg_id']}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% include 'comments.html' %}

    </div>

    <!-- Side bar -->
    <div class="col-lg-4">
      {% include 'database_links.html' %}
      {% include 'old_identifiers.html' %}
    </div>

  </div>
{% endblock %}
