{% extends "parent_display.html" %}
{% block title %}BiGG Metabolite {{bigg_id}}{% endblock %}
{% block description %}Universal BiGG metabolite {{bigg_id}}. {{name}}.{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-lg-8">
      <h1>
        <span class="light">Universal metabolite: </span>
        <span>{{bigg_id}}</span>
      </h1>

      <hr/>

      <h4>Descriptive name:</h4>
      <p>{% if name is not none %}{{name}}{% endif %}</p>

      <h4>Formulae in BiGG models: </h4>
      <p>{{ formulae | join(',') }}</p>

      <h4>Charges in BiGG models: </h4>
      <p>{{ charges | join(',') }}</p>

      <h4><i>{{bigg_id}}</i> in BiGG models:</h4>
      <div class="panel panel-default">
        <div class="table table-hover">
          <div class="table-header">
            <div class="table-row">
              <div class="table-cell" style="width: 50%">Organism</div>
              <div class="table-cell" style="width: 25%">Model</div>
              <div class="table-cell" style="width: 25%">Compartmentalized BiGG ID</div>
            </div>
          </div>
          <div class="table-body">
            {% for c in compartments_in_models %}
            <a href="/models/{{c['model_bigg_id']}}/metabolites/{{bigg_id}}_{{c['bigg_id']}}">
              <div class="table-row">
                <div class="table-cell" style="width: 50%">
                  {% if c['organism'] is none %}-{% else %}{{c['organism']}}{% endif %}
                </div>
                <div class="table-cell" style="width: 25%">
                  {{c['model_bigg_id']}}
                </div>
                <div class="table-cell" style="width: 25%">
                  {{bigg_id}}_{{c['bigg_id']}}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>

      {% include 'comments.html' %}

    </div>

    <!-- Side bar -->
    <div class="col-lg-4">
      {% include 'database_links.html' %}
      {% include 'old_identifiers.html' %}
    </div>

  </div>
{% endblock %}
