{% extends "parent_display.html" %}
{% block title %}BiGG Reaction: {{bigg_id}}{% endblock %}
{% block description %}Universal BiGG reaction {{bigg_id}}. {{name}}.{% endblock %}
{% block content %}
  <div class="row">

    <div class="col-lg-8">
      <h1>
        <span class="light">Universal reaction: </span>
        <span>{{bigg_id}}</span>
      </h1>
      {% include "pseudoreaction_question.html" %}

      <hr/>

      <h4>Descriptive name:</h4>
      <p>{% if name is not none %}{{name}}{% endif %}</p>

      <h4>Reaction:</h4>
      <p>{{reaction_string}}</p>

      <h4>Metabolites:</h4>
      <div class="panel panel-default">
        <div class="table table-hover">
          <div class="table-header">
            <div class="table-row">
              <div class="table-cell" style="width: 20%; min-width: 140px">Stoichiometry</div>
              <div class="table-cell" style="width: 30%">BiGG ID</div>
              <div class="table-cell" style="width: 50%">Name</div>
            </div>
          </div>
          <div class="table-body">
            {% for metabolite in metabolites %}
            <a href="/models/universal/metabolites/{{metabolite['bigg_id']}}">
              <div class="table-row">
                <div class="table-cell" style="width: 20%; min-width: 140px" align="right">
                  {{metabolite['stoichiometry']}}
                </div>
                <div class="table-cell" style="width: 30%">
                  {{metabolite['bigg_id']}}_{{metabolite['compartment_bigg_id']}}
                </div>
                <div class="table-cell" style="width: 50%">
                  {{metabolite['name']}}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <br/>

      <h4><i>{{bigg_id}}</i> in BiGG models:</h4>
      <div class="panel panel-default">
        <div class="table table-hover">
          <div class="table-header">
            <div class="table-row">
              <div class="table-cell" style="width: 50%">Organism</div>
              <div class="table-cell" style="width: 50%">Model</div>
            </div>
          </div>
          <div class="table-body">
            {% for model in models_containing_reaction %}
            <a href="/models/{{model['bigg_id']}}/reactions/{{bigg_id}}">
              <div class="table-row">
                <div class="table-cell" style="width: 50%">
                  {% if model['organism'] is none %}-{% else %}{{model['organism']}}{% endif %}
                </div>
                <div class="table-cell" style="width: 50%">
                  {{model['bigg_id']}}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>

      {% include 'comments.html' %}

    </div>

    <!-- Side bar -->
    <div class="col-lg-4">
      {% include 'database_links.html' %}
      {% include 'old_identifiers.html' %}
    </div>

  </div>
{% endblock %}
