{% extends "parent_display.html" %}
{% block title %}Updates{% endblock %}
{% block content %}
  <h1 class="centered">Updates</h1>
  <br/>
  <h2>Version 1.3: Introducing the <i>i</i>CHO model</h2>
  <p>
    <i>Nov. 18, 2016</i>
  </p>
  <p>
    Version 1.3 introduces a new model and includes a number of bug fixes.
  </p>
  <p>
    To understand the pathways underlying cell growth and protein production in
    Chinese hamster ovary (CHO) cells, the production cell line for most
    recombinant protein drugs, <a href="">Hefzi et al.</a> develop a
    genome-scale model of all metabolic pathways and use this to analyze the
    efficacy of common cell treatments used to boost protein production. The
    model builds off the human genome-scale models RECON1 and RECON2, and has
    been extensively curated to ensure a high-quality resource for use in
    studying this model organism. The new model is in BiGG Models with the name
    <a href="http://bigg.ucsd.edu/models/iCHOv1"><i>i</i>CHOv1</a>.
  </p>
  <a href="">Github Release</a>
{% endblock %}
