*.xml
*.DS_Store
*.pyc
*.mat
.idea/
.project
env/
gurobi.log
*.egg-info/
docs/schema/
crontab.txt
bigg_models/static/models/
bigg_models/static/namespace/
bigg_models/static/multistrain/
.#*
*.log
.cache/
temp_data/
*.swp
TAGS
.ipynb_checkpoints/
*.out
ModelPolisher-*.jar
.mypy_cache/
flycheck_*