*.xml
*.DS_Store
*.pyc
*.mat
.idea/
.project
env/
gurobi.log
BiGG_2.egg-info/
docs/schema/
crontab.txt
bigg2/static/models
bigg2/static/dumped_models/
bigg2/static/polished_models/
bigg2/static/published_models/
.#*
*.log