*.xml
*.DS_Store
*.pyc
*.mat
.idea/
.project
env/
gurobi.log
*.egg-info/
docs/schema/
crontab.txt
bigg_models/static/models
bigg_models/static/namespace
.#*
*.log
.cache/
temp_data/
*.swp
TAGS
.ipynb_checkpoints/
*.out
