<div class="modal-header">
  {% if modal %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {% endif %}
  <h4 class="modal-title">About BiGG</h4>
</div>
<div class="modal-body">

	<p>BiGG is a knowledgebase of Biochemically, Genetically and Genomically
	  structured genome-scale metabolic network reconstructions.</p>

	<p>BiGG integrates more than 80 published genome-scale metabolic
	  networks into a single database with a set of stardized identifiers
	  called BiGG IDs. Gene in the BiGG models are mapped to NCBI genome
	  annotations, and metabolites are linked to many external databases
	  (KEGG, PubChem, and many more).</p>

	<p>BiGG is hosted and maintained by the <a href="http://systemsbiology.ucsd.edu/">Systems Biology Research
	  Group</a> at the <a href="http://ucsd.edu"> University of California, San Diego</a>.</p>

</div>

<div class="modal-header">
  <h4 class="modal-title">License</h4>
</div>
<div class="modal-body">

	<p> Copyright &copy; 2015 The Regents of the University of California </p>

	<p> All Rights Reserved </p>

	<p> Permission to use, copy, modify and distribute any part of this
	  BiGG Database for educational, research and non-profit purposes,
	  without fee, and without a written agreement is hereby granted,
	  provided that the above copyright notice, this paragraph and the
	  following three paragraphs appear in all copies. </p>

	<p> Those desiring to incorporate this BiGG Database into commercial
	  products or use for commercial purposes should contact the
	  Technology Transfer & Intellectual Property Services, University of
	  California, San Diego, 9500 Gilman Drive, Mail Code 0910, La Jolla,
	  CA 92093-0910, Ph: (858) 534-5815, FAX: (858) 534-7345, e-mail:
	  invent@ucsd.edu. </p>

	<p> In no event shall the University of California be liable to any
	  party for direct, indirect, special, incidental, or consequential
	  damages, including lost profits, arising out of the use of this bigg
	  database, even if the University of California has been advised of
	  the possibility of such damage. </p>

	<p> The BiGG Database provided herein is on an "as is" basis, and
	  the University of California has no obligation to provide
	  maintenance, support, updates, enhancements, or modifications. The
	  University of California makes no representations and extends no
	  warranties of any kind, either implied or express, including, but
	  not limited to, the implied warranties of merchantability or fitness
	  for a particular purpose, or that the use of the BiGG Database will
	  not infringe any patent, trademark or other rights. </p>
	
</div>
<div class="modal-footer">
  {% if modal %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  {% endif %}
</div>
