<html>
{% extends "parentdisplay.html" %}

{% block content %}

<h1 style="padding-left:7px;text-align:center;">Advance Search</h1>
    				<hr>
<div class="container">
	     <div class="col-lg-12" >
            <div class="panel panel-primary" >
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-check"></i>Choose Models</h3>
              </div>
              <div class="panel-body">
              <form action="/advancesearchresults" method="post">
                <div class="form-group">
                	  <div id ="modelvalues" class="checkbox">
                	  {% for value in modelResults %}
                	  	<input id="{{value[0]}}" name = "{{value[0]}}" type="checkbox"> {{ value[0] }} </input>
                	  	<br>
                	  	{% endfor %}      
                        </div>
                
                </div>
              </div>
              
            </div>
            
            <div class="panel panel-primary" >
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-check"></i>Choose Categories</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                	  <div class="checkbox">
                	  	<input id ="reaction" name="reactions" type="checkbox"> reactions </input>
                	  	<br>
                	  	<input id="metabolite" name="metabolites" type="checkbox"> metabolites </input>
                	  	<br> 
                	  	<input id ="gene" name="genes" type="checkbox"> genes </input>
                	  	<br>
                	  	<input id ="all" name="all" type="checkbox" checked> all </input>
                	  	<br>    
                        </div>
               
                </div>
              </div>
              
            </div>
            <h3>Input Key Words</h3>
                       <input id ="search" type="text" name="query" class="form-control" placeholder=""></input>
            
            <input id="submitSearch" type="submit" class="btn btn-default" style="margin-top:20px;">
          </div>
          </form>
          <footer>
            		<div class="row">
                		<div class="col-lg-12" style="margin:80px 0;">
                			<hr>
                    		<p>Copyright &copy; 2015 The Regents of the University of California.</p>
                		</div>
            		</div>
        		</footer>
</div>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$(document).ready(function () {
      $("#submitSearch").click(function(event){
          if(!$("#search").val()){
                //alert($.trim($("textarea[name='query']").val()));
                //event.preventDefault();
                alert('please input a keyword');
                event.preventDefault();
                return;
                
                
          }
          else{
              var names = [];
        $('#modelvalues input:checked').each(function() {
            names.push(this.name);
        });
    $.post("/advancesearchresults",
    {
      model: names.toString(),
      reactions: $('#reaction:checked').val(),
      query:$.trim($("textarea[name='query']").val()),
      genes: $('#gene:checked').val(),
      metabolites:$('#metabolite:checked').val(),
      all:$('#all:checked').val()
    },
    function(data,status){
       
    });
   } 
  });
      
});     
</script>
{% endblock %}	


</html>
