<h3>Comments/Error Reporting</h3>
<form id="errorform">
  <div class="form-group">
    <h4>User Email Address</h4>
    <input type="email" class="form-control" name="email" placeholder="Enter email">    
  </div>
  <select name="type">
  <option value="bug">Bug Issue</option>
  <option value="reconstruction">Reconstruction Issue</option>
  </select>
  <h4>User Input</h4>
  <div class="form-inline" role="form">
    <textarea class="form-control" name ="comments" rows="3" cols="100" placeholder="Comments"></textarea>
    <br><br>
    <button id="submit" type="submit" value="Submit">Submit</button>
  </div>
</form>
<hr class="section-break">
