{% extends "parent_display.html" %}
{% block title %}BiGG: Compartments{% endblock %}
{% block content %}

  <h1>Compartments</h1>
  <table class="myTable tablesorter">
	<thead>
	  <tr>
		<th>BiGG ID</th>
		<th>Name</th>
	  </tr>
	</thead>
	<tbody>
      {% for compartment in compartments %}
		<tr class ='rowlink'>  
	      <td><a href="/compartments/{{compartment['bigg_id']}}">{{compartment['bigg_id']}}</a></td>
	      <td><a href="/compartments/{{compartment['bigg_id']}}">{{compartment['name']}}</a></td>
		</tr>
	  {% endfor %}
	</tbody>
  </table>

{% endblock %}	
