<div class="well database-well">
  <h4>External database links</h4>
  <ul class="list-unstyled">
    {% for source, values in database_links.iteritems() %}
      
      {% if source != 'old_id' %}
      <li><span class="light">{{source}}:</span>
	{% for value in values %}
	  {% if value['link'] is not none%}
	    <a href="{{value['link']}}" target="_blank">{{value['id']}}</a>{%if loop.revindex0!=0%},{%endif%}
	  {% else %}
	    {{value['id']}}{%if loop.revindex0!=0%},{%endif%}
	  {% endif %}
	{% endfor %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
