<html>
	{% extends "parentdisplay.html" %}
		{% block content %}
			<div class="container">
				<div class="col-lg-8">
    				<h1>Gene: <br><span>{{name}}</span></h1>
    			
    				<hr>
    				<p class="lead">ID: {{id}}</p>
					<p class="lead">Model: <br><a href="/models/{{model}}">{{ model }}</a></p>
					Reactions That Contain This Gene:
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>Reaction ID</th>
							<th>Gene Reaction Rule </th>	
						</tr>
						</thead>
						<tbody>
  						{% for reaction in reactions %}
  						<tr>
  						<td><a href="/models/{{model}}/reactions/{{reaction[0]}}">{{reaction[0]}} </a></td>
  						<td>{{reaction[1]}}<br> Genes: {% for gene in reaction[2] %}<a href="/models/{{model}}/genes/{{gene}}"> {{ gene }}{% endfor %}</a></td>
  						</tr>
  						{% endfor %}
  						</tbody>
					</table>
					<hr>
					<h2> Map </h2>
					<img src="http://placehold.it/900x300" class="img-responsive">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac vestibulum ante. In ut pharetra nibh. Quisque sollicitudin felis vel enim viverra fermentum. Nulla sit amet odio gravida, egestas enim eget, lobortis mi. Aliquam diam augue, pellentesque eget orci non, aliquet cursus sapien. Mauris feugiat dignissim mauris, et consequat magna ultricies ac. Cras ut lectus magna. Integer at felis ultrices, ultrices dolor et, dictum lectus. </p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
				<p></p>
				<p></p>
				</div>
				<div class="col-lg-4">
					<div class="well">
                    	<h4>BiGG Search</h4>
                    	<div class="input-group">
      						<span class="input-group-btn">
        						<button class="btn btn-default" type="button">Go!</button>
      						</span>
      						<input type="text" class="form-control">
    					</div>
                    </div>
                    <div class="well">
                    	<h4>{{id}} in other Models:</h4>
                    	<ul class="list-unstyled">
                            {% for altmodel in altModelList %}
                            <li style="text-align: center"><a href="/models/{{altmodel}}/genes/{{id}}">{{altmodel}}</a></li>
                            {% endfor %}
                        </ul>
                	</div>
                    <!-- /input-group -->
                </div>
				
				<footer>
            		<div class="row">
                		<div class="col-lg-12" style="margin:80px 0;">
                			<hr>
                    		<p>Copyright &copy; 2007 The Regents of the University of California.</p>
                		</div>
            		</div>
        		</footer>
					
			</div>
		{% endblock %}	
</html>