{% extends "parent_display.html" %}
{% block title %}BiGG: {{bigg_id}}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h1><span class="light">Gene: </span>{{bigg_id}}</h1>

      <hr>

      <h4>Descriptive name: </h4>
      <p>{{name}}</p>
      
      <h4>Model: </h4>
      <p><a href="/models/{{model_bigg_id}}">{{model_bigg_id}}</a></p>
      
      <h4>Position: </h4>
      <p>Left: {{leftpos}} — Right: {{rightpos}}</p>

      <h4>Description: </h4>
      <p>{{info}}</p>

      <h4> Associated reactions: </h4>
      <div class="panel panel-default">
  	    <table class="table table-hover">
	      <thead>
  	        <tr>
	          <th>BiGG ID</th>
	          <th>Name</th>
	          <th>Gene reaction rule</th>
	        </tr>
	      </thead>
	      <tbody>
  	        {% for reaction in reactions %}
  	          <tr class="clickable-row" href="/models/{{model_bigg_id}}/reactions/{{reaction['bigg_id']}}">
  		        <td>{{reaction['bigg_id']}}</td>
  		        <td>{{reaction['name']}}</td>
  		        <td>{{reaction['gene_reaction_rule']}}</td>
  	          </tr>
  	        {% endfor %}
	      </tbody>
  	    </table>
      </div>
      
      {% include 'comments.html' %}
      
    </div>
    <div class="col-lg-4">
      <div class="well">
        <h4>Synonyms:</h4>
        <ul class="list-unstyled">
          {% for synonym in synonyms %}
            <li>{{synonym['name']}}: {{synonym['synonym']}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
{% endblock %}	
