{% extends "parent_display.html" %}
{% block title %}BiGG: {{bigg_id}}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h1><span class="light">Gene: </span>{{bigg_id}}</h1>

      <hr>

      <h4>Descriptive name: </h4>
      <p>{% if name is not none %}{{name}}{% endif %}</p>
      
      <h4>Old Identifiers:</h4>
      <p>
        {% if old_identifiers is none %}
          (none)
        {% else %}
          {{ old_identifiers | join(', ') }}
        {% endif %}
      </p>
      <h4>Model: </h4>
      <p><a href="/models/{{model_bigg_id}}">{{model_bigg_id}}</a></p>
      
      {% if mapped_to_genbank %}
        <h4>Position: </h4>
        <p>Left: {{leftpos}} – Right: {{rightpos}}</p>

        <h4>Strand: </h4>
        <p>{% if strand == '-' %}Minus{% elif strand == '+' %}Plus{% endif %}</p>

        {% if chromosome_ncbi_id is not none and genome_bioproject_id is not none %}
          <h4>Chromosome: </h4>
          <p><a href="/genomes/{{genome_bioproject_id}}#{{chromosome_ncbi_id}}">{{chromosome_ncbi_id}}</a></p>
        {% endif %}
      {% else %}
        <h4>Chromosome: </h4>
        <p>Gene is not mapped to a genome annotation.</p>
      {% endif %}

      <h4> Associated reactions: </h4>
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>BiGG ID</th>
              <th>Name</th>
              <th>Gene reaction rule</th>
            </tr>
          </thead>
          <tbody>
            {% for reaction in reactions %}
              <tr class="clickable-row" href="/models/{{model_bigg_id}}/reactions/{{reaction['bigg_id']}}">
                <td>{{reaction['bigg_id']}}</td>
                <td>{{reaction['name']}}</td>
                <td>{{reaction['gene_reaction_rule']}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
      {% include 'comments.html' %}
      
    </div>

    <div class="col-lg-4">
      {% include 'database_links.html' %}
    </div>
{% endblock %}	
