{% extends "parent_display.html" %}
{% block title %}BiGG: Genomes{% endblock %}
{% block content %}

  <h1>
    <span class="light">Genome: </span>{{bioproject_id}}
  </h1>

  <hr/>

  <h4>Organism: </h4>
  <p>{{organism}}</p>
  
  <h4>Models with this genome:</h4>
  <div class="panel panel-default">
  	<table class="table table-hover">
	  <thead>
  	    <tr>
	      <th>BiGG ID</th>
	    </tr>
	  </thead>
	  <tbody>
  	    {% for model in models %}
          <tr class="clickable-row" href="/models/{{model}}"><td>{{model}}</td></tr>
  	    {% endfor %}
	  </tbody>
  	</table>
  </div>

  <h4>Chromosomes:</h4>
  <div class="panel panel-default">
  	<table class="table table-hover">
	  <thead>
  	    <tr>
	      <th>NCBI ID</th>
	    </tr>
	  </thead>
	  <tbody>
  	    {% for chromosome in chromosomes %}
          <tr><td>{{chromosome}}</td></tr>
  	    {% endfor %}
	  </tbody>
  	</table>
  </div>

{% endblock %}	
