{% extends "parent_display.html" %}
{% block title %}BiGG: Genomes{% endblock %}
{% block content %}

  <h1>
    <span class="light">Genome: </span>{{bioproject_id}}
  </h1>

  <hr/>

  <h4>Organism: </h4>
  <p>{{organism}}</p>
  
  <h4>
    Models with this genome:
    {% with question_title='Models with this genome'%}
      {% with question_text='A list of models that are mapped to this genome. Genes in the models are mapped to individual chromosomes.'%}
        {% include 'question_mark.html' %}
      {% endwith %}
    {% endwith %}
  </h4>
  <div class="panel panel-default">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>BiGG ID</th>
        </tr>
      </thead>
      <tbody>
        {% for model in models %}
          <tr class="clickable-row" href="/models/{{model}}"><td>{{model}}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h4>Chromosomes:</h4>
  <div class="panel panel-default">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NCBI ID</th>
        </tr>
      </thead>
      <tbody>
        {% for chromosome in chromosomes %}
          <tr class="clickable-row" href="http://www.ncbi.nlm.nih.gov/nuccore/{{chromosome}}">
            <td id="{{chromosome}}">
              {{chromosome}}
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'comments.html' %}

{% endblock %}
