<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BiGG Database</title>
    
    <!-- Custom Google Web Font -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link hrel="stylesheet" ref="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic">

    <!-- Scripts -->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/frontpage.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/assets/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://systemsbiology.ucsd.edu/">Systems Biology Research Group</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-collapse">
          <ul class="nav navbar-nav">
	    <!-- Button trigger modal -->
	    <li><a href="#" data-toggle="modal" data-target="#about-modal">About</a></li>
	    <li><a href="advanced_search">Advanced Search</a></li>
	    <li><a href="/web_api">Web API</a></li>
          </ul>
	</div>
      </div>
    </nav>

    <div class="intro-header">
      <div class="container">
	<div class="row">
          <div class="col-lg-12">

	    <!-- BiGG 1 link -->
	    <!-- Button trigger modal -->
	    <div id="bigg1-alert" class="alert alert-info alert-dismissible" role="alert">
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      This is the new BiGG website (version 2). If you are looking for the old BiGG, you can find it here: <a href="http://bigg.ucsd.edu">http://bigg.ucsd.edu/</a>.
	    </div>

	    <div class="intro-message">
              <h1 class="title">BiGG Database</h1>
              <hr class="intro-divider">
              <p class="lead">Search the database by model, reaction, metabolite, or gene</p>
              <form id="search-form" action="/search" method="get">
		<div class="input-group">
		  <input id ="search" type="text" name="query" class="form-control" placeholder="" autofocus></input>
		  <span class="input-group-btn">
		    <input type="submit" value="Search" class="btn btn-default" type="button"></input>
		  </span>
		</div>
	      </form>
	    </div>
	    <div class="col-md-4">
	      <div class="thumbnail">
		<a href=/models>
		  <img src="/static/assets/models.png" alt="">
		</a>
		<div class="caption">
		  <a href=/models><h3>View Models</h3></a>
		</div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="thumbnail">
		<a href="/universal/metabolites">
		  <img src="/static/assets/metabolites.png" alt="">
		</a>
		<div class="caption">
		  <a href="/universal/metabolites"><h3>View Metabolites</h3></a>
		</div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="thumbnail">
		<a href="/universal/reactions">
		  <img src="/static/assets/reactions.png" alt="">
		</a>
		<div class="caption">
		  <a href="/universal/reactions"><h3>View Reactions</h3></a>
		</div>
	      </div>
	    </div>
          </div>
	</div>
      </div>
    </div>
    <div id="ome-section" class="desc-section">
      <div class="container">
	<div class="row">
          <div class="col-md-6 col-md-push-6">
	    <div class="clearfix"></div>
	    <h2 class="section-heading">
	      Powered by the <a href="https://github.com/sbrg/ome">OME</a> Framework
	    </h2>
	    <p class="lead">
	      The OME Framework is a systems biology and
	      bioinformatics framework that helps to enable a
	      broad array of iterative and evolving systems
	      biology workflows.
	    </p>
          </div>
          <div class="col-md-6 col-md-pull-6">
	    <a href="https://github.com/sbrg/ome">
	      <img class="img-responsive" src="/static/assets/om_overview.png" alt="">
	    </a>
          </div>
	</div>

      </div>
    </div>
    <div id="escher-section" class="desc-section">
      <div class="container">
	<div class="row">
          <div class="col-md-6">
	    <div class="clearfix"></div>
	    <h2 class="section-heading">Utilizes <a href="https://escher.github.io/">Escher</a> Maps</h2>
	    <p class="lead">
	      A web-based tool for building, viewing, and sharing
	      visualizations of biological pathways
	    </p>
          </div>
          <div class="col-md-6">
	    <a href="https://escher.github.io/">
	      <img class="img-responsive" src="/static/assets/escher-logo.png" alt="">
	    </a>
          </div>
	</div>
      </div>
    </div>

    <div class="banner desc-section">
      <div class="container">
	<div class="row">
          <div class="col-md-5">
	    <h2>Connect to BiGG:</h2>
          </div>
          <div class="col-md-7">
	    <ul class="list-inline banner-social-buttons">
              <li>
		<a href="https://twitter.com/ucsd_sbrg" class="btn btn-default btn-lg">
		  <i class="fa fa-twitter fa-fw"></i> <span class="network-name"> Twitter</span>
		</a>
              </li>
              <li>
		<a href="https://github.com/SBRG/BIGG2" class="btn btn-default btn-lg">
		  <i class="fa fa-github fa-fw"></i> <span class="network-name"> Github</span>
		</a>
              </li>
              <li>
		<a href="http://www.biomedcentral.com/1471-2105/11/213" class="btn btn-default btn-lg">
		  <i class="fa fa-info-circle"></i> <span class="network-name"> Publication</span>
		</a>
              </li>
	    </ul>
          </div>
	</div>
      </div>

    </div> 

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
	    <a href="http://systemsbiology.ucsd.edu/">
              <img class="img-responsive footer-image" src="/static/assets/sbrg-logo.png">
	    </a>
	  </div>
          <div class="col-md-5">
           <a href="http://www.ucsd.edu/"><img class="img-responsive footer-image" src="/static/assets/ucsd-logo.png"></a>
	  </div>
	  <div class="col-md-2">
            <a href="http://www.biosustain.dtu.dk/"><img class="img-responsive footer-image" src="/static/assets/cfb-logo.png"></a>
	  </div>
	</div>
	<div class="row">
          <div class="col-lg-12">
            <p class="copyright text-muted small">
	       BiGG is hosted and maintained by the Systems Biology Research Group at the University of California, San Diego. <br/>
	      Copyright &copy; 2015 The Regents of the University of California. All Rights Reserved.
            </p>
	  </div>
	</div>
      </div>
    </footer>
    
    <div class="modal fade" id="about-modal">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">About BiGG</h4>
	  </div>
	  <div class="modal-body">

	    <p>BiGG is a knowledgebase of Biochemically, Genetically and Genomically
	      structured genome-scale metabolic network reconstructions.</p>

	    <p>BiGG integrates more than 80 published genome-scale metabolic
	      networks into a single database with a set of stardized identifiers
	      called BiGG IDs. Gene in the BiGG models are mapped to NCBI genome
	      annotations, and metabolites are linked to many external databases
	      (KEGG, PubChem, and many more).</p>

	    <p>BiGG is hosted and maintained by the <a href="http://systemsbiology.ucsd.edu/">Systems Biology Research
	      Group</a> at the <a href="http://ucsd.edu"> University of California, San Diego</a>.</p>

	  </div>

	  <div class="modal-header">
            <h4 class="modal-title">License</h4>
	  </div>
	  <div class="modal-body">

	    <p> Copyright &copy; 2015 The Regents of the University of California </p>

	    <p> All Rights Reserved </p>

	    <p> Permission to use, copy, modify and distribute any part of this
	    BiGG Database for educational, research and non-profit purposes,
	    without fee, and without a written agreement is hereby granted,
	    provided that the above copyright notice, this paragraph and the
	    following three paragraphs appear in all copies. </p>

	    <p> Those desiring to incorporate this BiGG Database into commercial
	    products or use for commercial purposes should contact the
	    Technology Transfer & Intellectual Property Services, University of
	    California, San Diego, 9500 Gilman Drive, Mail Code 0910, La Jolla,
	    CA 92093-0910, Ph: (858) 534-5815, FAX: (858) 534-7345, e-mail:
	    invent@ucsd.edu. </p>

	    <p> In no event shall the University of California be liable to any
	    party for direct, indirect, special, incidental, or consequential
	    damages, including lost profits, arising out of the use of this bigg
	    database, even if the University of California has been advised of
	    the possibility of such damage. </p>

	    <p> The BiGG Database provided herein is on an "as is" basis, and
	    the University of California has no obligation to provide
	    maintenance, support, updates, enhancements, or modifications. The
	    University of California makes no representations and extends no
	    warranties of any kind, either implied or express, including, but
	    not limited to, the implied warranties of merchantability or fitness
	    for a particular purpose, or that the use of the BiGG Database will
	    not infringe any patent, trademark or other rights. </p>
	    
	  </div>
	  <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
     // autocomplete code 
     $(function() {
	 $("#search").autocomplete({
	     source: function(request, response) {
		 $.get("autocomplete", {
		     query: request.term
		 }, function(data) {
		     response(data)
		 });
	     },
	     minLength: 3,
	     select: function(event, ui) {
		 if (event.keyCode == 13)
		     $('#search-form').trigger('submit');
	     }
	 });
     });
    </script>
  </body>
</html>
