<html>
	{% extends "parentdisplay.html" %}
		{% block content %}
		<link rel="stylesheet" href="//zakandrewking.github.io/escher/escher/css/builder.css">

            <style>
            #map {
                width: 100%; 
                height: 500px; 
                border: 1px solid #DDD; 
                border-radius: 4px;
            }
            </style>
			<div class="container">
				<div class="col-lg-8">
    				<h1>Reaction: <br><span id ="reactionName">{{name}}</span></h1>
    				<hr>
					<p class="lead">Long Name: <br>{{long_name}}</p>
					<p class="lead">Model: <br><a href="/models/{{model}}">{{ model }}</a></p>
					
					<p class="lead">Reaction String:</p>
					<p class="lead">{{reaction_string}}</p>
					<br>
					<br>
					<br>
					<div class="panel panel-default">
  						<a href="#metabolitelist" class="list-group-item active">
    						<div class="panel-heading"><span class="lead">Metabolites:</span></div>
  						</a>
  						<table class="table table-striped">
  						
  						{% for metabolite in metabolites %}
  						<tr>
  						<td><a href="/models/{{model}}/metabolites/{{metabolite[0]}}_{{metabolite[2]}}">{{metabolite[0]}}_{{metabolite[2]}}</a></td>
  						<td>{{metabolite[1]}}</td>
  						</tr>
  						{% endfor %}
  						
  						</table>
					</div>
					<p class="lead">Gene Reaction Rule: <br>{{gene_reaction_rule}}</p>
					<p class="lead">Gene Names: {% for gene in genes %} <br><a href=/models/{{model}}/genes/{{gene[0]}}>{{gene[0]}} </a>({{gene[1]}}){% endfor %}</p>
					<hr>
					<h2> Escher Map </h2>
                    <div id="map"></div>  
                    <p></p>              
                    <a class="btn btn-primary" href="https://github.com/zakandrewking/escher">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
				<p></p>
				<p></p>
				<hr>
				    <h3> Comments/Error Reporting </h3>
				    <form method="POST" id="errorform">
				    <div class="form-group">
				    <label>User Email Address</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email">    
				    </div>
				    <label>User Input</label>
				    <div class="form-inline" role="form">
  <textarea class="form-control" name ="comments" rows="3" cols="100" placeholder="Comments"></textarea>
				    <br><br>
				<button id="submit" type="submit" value="Submit">Submit</button>
                        </div>
				    </form>
				</div>
				
				<div class="col-lg-4">
					<div class="well">
                    	<h4>Notes:</h4>	
                    </div>
                     <div class="well">
                    	<h4>View Escher Map</h4>
                    	<button class="btn btn-default" type="button">View Map</button>
                	</div>
                    <div class="well">
                    	<h4 style="text-align: center">{{id}} in other Models:</h4>
                    	<ul class="list-unstyled">
                    	{% for altmodel in altModelList %}
                                <li style="text-align: center"><a href="/models/{{altmodel}}/reactions/{{name}}">{{altmodel}}</a>
                                </li>
                                {% endfor %}
                        </ul>
                	</div>
                	   
                    <!-- /input-group -->
                </div>
				
				<footer>
            		<div class="row">
                		<div class="col-lg-12" style="margin:80px 0;">
                			<hr>
                    		<p>Copyright &copy; 2015 The Regents of the University of California.</p>
                		</div>
            		</div>
        		</footer>
					
			</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
        <script src="//zakandrewking.github.io/escher/escher.1.0.0b2.js"></script>
        <script>


    // Set up map and styles
    // Requires two local files:  iJO1366_central_metabolism.json and builder-embed.css
    var map_sel = d3.select('#map'),
        reaction_name = document.getElementById('reactionName').innerHTML,  // replace all 'reaction' with 'metabolite' for metabolite page
        reaction_data = {};
    reaction_data[reaction_name] = 1;
    var b = escher.Builder({ selection: d3.select('#map'),
			     menu: 'zoom',
			     scroll_behavior: 'none',
			     map_path: '/static/lib/iJO1366_central_metabolism.json',
			     css_path: '/static/css/builder-embed.css',
			     reaction_data: reaction_data,
			     reaction_styles: ['color'],
			     auto_reaction_domain: false,
			     reaction_domain: [-1, 0, 1],
			     reaction_color_range: ['unused', 'rgb(200,200,200)', '#106F94'],
			     enable_editing: false });

    // find the reaction or metabolite, and zoom in on it
    function go_to() {
	var results = b.map.search_index.find(reaction_name);
	if (results !== null && results.length > 0) {
	    var r = results[0];
	    if (r.type=='reaction') {		
		b.map.zoom_to_reaction(r.reaction_id);
		b.map.highlight_reaction(r.reaction_id);
	    } else if (r.type=='metabolite') {
		b.map.zoom_to_node(r.node_id);
		b.map.highlight_node(r.node_id);
	    }
	}
    }
    window.setTimeout(function() { 
        go_to();
        map_sel.selectAll('.simple-button').each(function() {
	var t = d3.select(this);
	if (t.attr('title').indexOf('canvas')!=-1) {
	t.on('click', null);
	t.on('click', function() { go_to(); });
	}
	});
    }, 1000);

    </script>	
		{% endblock %}	
</html>
