{% extends "parent_display.html" %}
{% block title %}BiGG: {{bigg_id}}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h1><span class="light">Reaction: </span>{{bigg_id}}</h1>
      {% include "pseudoreaction_question.html" %}

      {% if count > 1 %}
        <h3>Reaction appears {{count}} times in {{model_bigg_id}}</h3>
      {% endif %}

      <hr/>

      <h4>Descriptive name: </h4>
      <p>{{name}}</p>

      <h4>Model: </h4>
      <p><a href="/models/{{model_bigg_id}}">{{model_bigg_id}}</a></p>

      <h4>Metabolites:</h4>
      <div class="panel panel-default">
  	    <table class="table table-hover">
	      <thead>
  	        <tr>
	          <th>Stoichiometry</th>
	          <th>BiGG ID</th>
	          <th>Name</th>
	        </tr>
	      </thead>
	      <tbody>
  	        {% for metabolite in metabolites %}
  	          <tr class="clickable-row" href="/models/{{model_bigg_id}}/metabolites/{{metabolite['bigg_id']}}_{{metabolite['compartment_bigg_id']}}">
  		        <td align="right" width="50px">{{metabolite['stoichiometry']}}</td>
  		        <td>
		          {{metabolite['bigg_id']}}_{{metabolite['compartment_bigg_id']}}
		        </td>
  		        <td>{{metabolite['name']}}</td>
  	          </tr>
  	        {% endfor %}
	      </tbody>
  	    </table>
      </div>
      
      {% for result in results %}
        <hr/>
        {% if count > 1 %}
          <h3>{{result['bigg_id']}} #{{loop.index}} in {{model_bigg_id}}</h3>
        {% endif %}

        <h4>Reaction String:</h4>
        <p>{{result['reaction_string']}}</p>

        <h4>Default bounds:</h4>
        <p>({{result['lower_bound']}}, {{result['upper_bound']}})</p>

        <h4>Gene Reaction Rule: </h4>
        <p>{{result['gene_reaction_rule']}}</p>
        
        <h4>Gene IDs and names:</h4>
        <p>
	      {% for gene in result['genes'] %}
	        <a href="/models/{{model_bigg_id}}/genes/{{gene['bigg_id']}}">{{gene['bigg_id']}}</a> ({{gene['name']}})<br>
	      {% endfor %}
        </p>

        {% if escher_maps|count > 0 %}
	      {% include 'escher_div.html' %}
        {% endif %}

      {% endfor %}

      {% include 'comments.html' %}

    </div>
    
    <div class="col-lg-4">
      <div class="well">
        <h4>Universal reaction</h4>	
	    <ul class="list-unstyled">
	      <li>
	        <a href="/universal/reactions/{{bigg_id}}">{{bigg_id}}</a>
	      </li>
	    </ul>
      </div>
      
      {% include 'database_links.html' %}

      <div class="well">
        <h4>{{bigg_id}} in other models</h4>
        <ul class="list-unstyled">
          {% for model_bigg_id in other_models_with_reaction %}
            <li>
	          <a href="/models/{{model_bigg_id}}/reactions/{{bigg_id}}">
		        {{model_bigg_id}}
	          </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </div>

  {% if escher_maps|count > 0 %}
    {% set escher_script_type = 'reaction' %}
    {% include 'escher_script.html' %}
  {% endif %}
{% endblock %}	
