{% extends "parent_display.html" %}
{% block title %}BiGG Reaction: {{bigg_id}}{% endblock %}
{% block content %}
  <div class="row">

    <div class="col-lg-8">
      <h1>
        <span class="light">Universal reaction: </span>
        <span>{{bigg_id}}</span>
      </h1>
      {% include "pseudoreaction_question.html" %}

      <hr/>

      <h4>Descriptive name:</h4> 
      <p>{% if name is not none %}{{name}}{% endif %}</p>

      <h4>Reaction String:</h4>
      <p>{{reaction_string}}</p>

      <h4>Metabolites:</h4>
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Stoichiometry</th>
              <th>BiGG ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for metabolite in metabolites %}
              <tr class="clickable-row" href="/models/universal/metabolites/{{metabolite['bigg_id']}}">
                <td align="right" width="50px">{{metabolite['stoichiometry']}}</td>
                <td>
                  {{metabolite['bigg_id']}}_{{metabolite['compartment_bigg_id']}}
                </td>
                <td>{{metabolite['name']}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br/>
      
      <h4><i>{{bigg_id}}</i> in BiGG models:</h4>
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Organism</th>
              <th>Model</th>
            </tr>
          </thead>
          <tbody>
            {% for model in models_containing_reaction %}
              <tr class="clickable-row" href="/models/{{model['bigg_id']}}/reactions/{{bigg_id}}">
                <td>{% if model['organism'] is none %}-{% else %}{{model['organism']}}{% endif %}</td>
                <td>{{model['bigg_id']}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% include 'comments.html' %}

    </div>
    
    <!-- Side bar -->
    <div class="col-lg-4">
      {% include 'old_identifiers.html' %}
      {% include 'database_links.html' %}
    </div>    

  </div>
{% endblock %}	
