body {
  font-size: 19px !important;
  color: #444444;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1 {
  font-weight: 700;
}
h3 {
  margin: 0 0 20px 0;
}
h4 {
  font-size: 21px;
  font-weight: 200;
  color: #999999;
}

span.pseudoreaction {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

/* Help popovers */
.popover h3 {
  font-weight: bold;
  color: #333;
}
.popover-content {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5em;
  color: #333;
}

.navbar {
  font-size: 15px;
  /* position:relative; */
  top: 0;
  width: 100%;
  z-index: 100;
}
.navbar-default {
  background-color: #F9FCFF;
}
.navbar-form {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-brand {
  font-size: 17px !important;
  color: #337ab7 !important;
}

#nav-title-background {
  width: 100%;
  height: 60px;
  background-color: #0099FF;
  z-index: 10;
}
#nav-title {
  width: 100%;
}
#nav-title>h1 {
  margin: 10px 0 10px 0;
}
#nav-title>h1>a, #nav-title>h1>a:hover, #nav-title>h1>a:visited,
#nav-title>h1>a:active {
  text-decoration: none;
  color: rgb(239, 248, 255);
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* fix nav padding */
.nav>li>a {
  padding: 10px 12px;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.light {
  color: #999999;
}
p {
  margin: 0 0 25px 0;
}
.clickable-row {
  color: #428bca;
  cursor: pointer;
}
.section-break {
  margin: 50px 0 50px 0;
}
pre {
  font-size: 14px;
  border: none;
  margin: 0;
  border-radius: 0 0 4px 4px;
  color: rgb(59, 59, 59);
  background-color: #F1F1F1;
  border: 1px solid rgb(57, 57, 57);
}
pre.get {
  background-color: #393939;
  margin-top: 30px;
  border-radius: 4px 4px 0 0;
  color: rgb(222, 222, 222);
}
samp {
  white-space: pre;
}
.table {
  font-size: 16px;
  table-layout: fixed;
}
.table>tbody>tr>td {
  padding: 8px 18px 8px 18px;
  overflow: auto;
}
th {
  overflow:auto;

}
td:target {
  background-color: #D4F4FA;
}
.list-inline {
  margin: 30px 0 0 0;
}
.list-inline>li {
  padding-top: 10px;
}
.well ul {
  margin-left: 20px;
}
.database-well ul {
  font-size: 17px;
}
.escher-map {
  margin-bottom: 10px;
  width: 100%;
  height: 500px;
  border: 1px solid #DDD;
  border-radius: 4px;
}
.centered {
  text-align: center;
}
.results-table {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
}

/* list display */
.list-display-tabs {
  font-size: 16px;
}
@media (max-width: 550px) {
  .list-display-tabs {
    display: none;
  }
}
.tab-pane .section-label {
  padding: 30px 0 0 0;
}

/* ---------------------------------- */

#loading-model{
  clear:both;

  margin-top: 100px;
}
.btn-group-vertical{
  margin-top:10px;
  display:none;
}
#panel2{
  text-align: center;
}
#model-select-question {
  float:left;
  margin-bottom: 5px;
}
.jumbotron {
  margin-top: 70px;
  margin-bottom: 900px;
}
/*#metabolitelist_c:hover{
   border-color: #0099FF !important;
   }
   #metabolitelist_e:hover{
   border-color: #0099FF !important;
   }
   #metabolitelist_p:hover{
   border-color: #0099FF !important;
   }*/
.met_button:hover{
  border-color: #0099FF !important;
}
.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
  position: fixed;
  width: 100%; height: 100%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.carousel .one {

  background: url(f21.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel .two {
  background: url(f22.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel .three {
  background: url(f23.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel .active.left {
  left:0;
  opacity:0;
  z-index:2;
}
.group {
  text-align: center;
}

/* TableSorter and Pager */
.tablesorter {
  margin-bottom: 30px !important;
}
/* pager style */
.pager {
  border-width: 2px !important;
  border-color: rgb(185, 202, 213) !important;
  padding-left: 20px !important;
  /*  border-radius: 5px 5px 0 0 !important; */
  border-style: solid !important;
}
/* spinner on right */
.no-processing>th {
  background-image: none !important;
}

/* Advanced search */
.advanced-selection {
  font-size: 15px;
  line-height: 1.5em;
}
