<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- add in autocomplete with categories, data-toggle the model selects, figure out popovers -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/style.css">
		<!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />-->
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	</head>
	<body>
	
		<div id="myCarousel" class="carousel container slide">
			<div class="carousel-inner">
				<div class="active item one"></div>
				<div class="item two"></div>
				<div class="item three"></div>
			</div>
		</div>
		
		<div id="banner">
			<a href="http://sbrg.ucsd.edu/"> <img src="assets/logo-header.png" alt="logo"></a>
		</div>
		
		<div class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
						<!--<a class="navbar-brand" href="http://gcrg.ucsd.edu/"><strong>SBRG</strong></a>-->
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="landingpage.php">Home</a></li>
						<li><a href="searchReactions.php">Search Reactions</a></li>
						<li><a href="#">Search Metabolites</a></li>
						<li><a href="#">SBML Export</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">{{user}}'s profile</a></li>
						
					</ul>
					<ul class="navbar-form navbar-right">
						<div class="col-lg-9">
							<input type="text" class="form-control" placeholder="Search...">
						</div>
					</ul>
				</div>
			</div>			
		</div>
		
		<div class="container">
			
			<div class="jumbotron">
				<h1>BiGG Database</h1>
				
				<p class="lead">BiGG is a knowledgebase of Biochemically, Genetically and Genomically structured genome-scale metabolic network reconstructions. </p>
				<p>BIGG integrates several published genome-scale metabolic networks into one location and uses standard nomenclature, which allows individual components to be compared across different species.</p>
				<p>Links to several other databases (KEGG, and NCBI, PubChem) are also contained.</p>
				<br>
				<p>
				<div class="group">
					<button class = "btn btn-primary btn-lg" href="http://www.biomedcentral.com/1471-2105/11/213">View Published Paper</button>    <button href="#myModal" class="btn btn-lg btn-info" data-toggle="modal">Read Disclaimer</button>    <button class="btn btn-default btn-lg">
						<i class="fa fa-github"></i> GitHub
					</button>

					<br>
					<font size="1">
						BiGG is hosted and maintained by the <a href="http://systemsbiology.ucsd.edu/">Systems Biology Research Group</a> at the <a href="http://ucsd.edu"> University of California, San Diego</a>.
						<br>Copyright 2007 The Regents of the University of California. All Rights Reserved.  
						<br>Best viewed with Internet Explorer, Firefox, Opera and Safari v3. Currently not compatible with older versions of Safari.
					</font>
				</div>
			</div>
		</div>
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" 
							data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							Disclaimer
						</h4>
					</div>
					<div class="modal-body">
						<p>BiGG is now published. Please cite "Schellenberger, J., Park, J. O., Conrad, T. C., and Palsson, B. Ø., BiGG: a Biochemical Genetic and Genomic knowledgebase of large scale metabolic reconstructions, BMC Bioinformatics, 11:213, (2010)." if you use BiGG.</p>
						<br>
						<p>Copyright 2007 The Regents of the University of California </p>
						<br>
						<p>All Rights Reserved </p>
						<br>
						<p>Permission to use, copy, modify and distribute any part of this BiGG Database for educational, research and non-profit purposes, without fee, and without a written agreement is hereby granted, provided that the above copyright notice, this paragraph and the following three paragraphs appear in all copies. </p>
						<br>
						<p>Those desiring to incorporate this BiGG database into commercial products or use for commercial purposes should contact the Technology Transfer & Intellectual Property Services, University of California, San Diego, 9500 Gilman Drive, Mail Code 0910, La Jolla, CA 92093-0910, Ph: (858) 534-5815, FAX: (858) 534-7345, e-mail:invent@ucsd.edu.</p>
						<br>
						<p>IN NO EVENT SHALL THE UNIVERSITY OF CALIFORNIA BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF THIS BIGG DATABASE, EVEN IF THE UNIVERSITY OF CALIFORNIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. </p>
						<br>
						<p>THE BIGG DATABASE PROVIDED HEREIN IS ON AN "AS IS" BASIS, AND THE UNIVERSITY OF CALIFORNIA HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS. THE UNIVERSITYOF CALIFORNIA MAKES NO REPRESENTATIONS AND EXTENDS NO WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THAT THE USE OF THE BIGG DATABASE WILL NOT INFRINGE ANY PATENT, TRADEMARK OR OTHER RIGHTS. </p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" 
							data-dismiss="modal">Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--<div id="loading-model">
				<h1>Loading Model..<h1>
				<div class="progress progress-striped active">
					<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">Loading</span>
					</div>
				</div>
		</div> -->
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" 
							data-dismiss="modal" aria-hidden="true">
							&times;
							</button>
						<h4 class="modal-title" id="myModalLabel">
							Disclaimer
						</h4>
					</div>
					<div class="modal-body">
						<p>BiGG is now published. Please cite "Schellenberger, J., Park, J. O., Conrad, T. C., and Palsson, B. Ø., BiGG: a Biochemical Genetic and Genomic knowledgebase of large scale metabolic reconstructions, BMC Bioinformatics, 11:213, (2010)." if you use BiGG.</p>
						<br>
						<p>Copyright 2007 The Regents of the University of California </p>
						<br>
						<p>All Rights Reserved </p>
						<br>
						<p>Permission to use, copy, modify and distribute any part of this BiGG Database for educational, research and non-profit purposes, without fee, and without a written agreement is hereby granted, provided that the above copyright notice, this paragraph and the following three paragraphs appear in all copies. </p>
						<br>
						<p>Those desiring to incorporate this BiGG database into commercial products or use for commercial purposes should contact the Technology Transfer & Intellectual Property Services, University of California, San Diego, 9500 Gilman Drive, Mail Code 0910, La Jolla, CA 92093-0910, Ph: (858) 534-5815, FAX: (858) 534-7345, e-mail:invent@ucsd.edu.</p>
						<br>
						<p>IN NO EVENT SHALL THE UNIVERSITY OF CALIFORNIA BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF THIS BIGG DATABASE, EVEN IF THE UNIVERSITY OF CALIFORNIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. </p>
						<br>
						<p>THE BIGG DATABASE PROVIDED HEREIN IS ON AN "AS IS" BASIS, AND THE UNIVERSITY OF CALIFORNIA HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS. THE UNIVERSITYOF CALIFORNIA MAKES NO REPRESENTATIONS AND EXTENDS NO WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THAT THE USE OF THE BIGG DATABASE WILL NOT INFRINGE ANY PATENT, TRADEMARK OR OTHER RIGHTS. </p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" 
							data-dismiss="modal">Close
						</button>
					</div>
				</div>
			</div>
		</div>
	
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<!--<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>-->
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/script.js"></script>
		
	</body>
</html>