	#loading-model{
			clear:both;
			
			margin-top: 100px;
		}
	.btn-group-vertical{
		margin-top:10px;
		display:none;
	}
	#panel2{
		text-align: center;
	}
	#model-select-question {
		float:left;
		margin-bottom: 5px;
	}
	.jumbotron {
		margin-top: 70px;
		margin-bottom: 900px;
	}
	#banner {
		background-color:#0099FF;
	}
	.navbar {
		position:relative;
		top:0;
		width:100%;
		z-index:1000;
	}
	.carousel { z-index: -99; } /* keeps this behind all content */
	.carousel .item {
		position: fixed;
		width: 100%; height: 100%;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-ms-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
	}
	.carousel .one {
    
		background: url(f21.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.carousel .two {
		background: url(f22.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.carousel .three {
		background: url(f23.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.carousel .active.left {
		left:0;
		opacity:0;
		z-index:2;
	}
	.group {
		text-align: center;
	}